* {
    margin: 0;
    padding: 0;

    font-family: "Rajdhani", sans-serif;

}

body {
    background-color: #1F2937;
}


/* Parte da Navbar */
.navbar {
    background-color: #1A1C1E;
    height: 80px;

    display: flex;
    justify-content: space-around;
}

#logo {
    width: 200px;
    height: 100px;
}

.links {
    background-color: #1A1C1E;
    width: 50%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;

}

.links a {
    text-decoration: none;
    color: white;
}

.area_jogador {
    background: linear-gradient(to right,
            #FFC116 0%,
            rgba(255, 141, 10, 0.8) 100%);

    width: 20%;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.area_jogador h3 {

    color: #1F2937;
}

/* Parte do Video de Bem vindo */
.reproducao {
    position: relative;
    width: 100%;
}

video {
    width: 100%;
}

#bemVindo {
    position: absolute;

    color: white;

    font-weight: bolder;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    /* Começa invisível */
    animation-name: entradaSuave;
    /* Nome da animação do keyframe  */
    animation-duration: 1.5s;
    /* Tempo que a animação dura */
    animation-timing-function: ease-out;
    /* Começa rápido e termina devagar (suave) */
    animation-delay: 0.5s;
    /* Espera um pouco antes de começar */
    animation-fill-mode: forwards;
    /* Mantém o estado final (visível) após a animação */
}

#analisesTexto {
    text-decoration: underline;
}

/* Animação de entrada */
@keyframes entradaSuave {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Banner de Critical ops */
.banner-cops img {
    width: 100%;
}

/* Conteúdo da História do Critical ops */
.historia-cops {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    height: 700px;

    background: linear-gradient(to right, #1F2937 0%, #111827 100%);

    border: 3px solid #7F96B3;
}

.historia-cops img {
    width: 50%;

}

.conteudo-historia {
    width: 100%;
    height: 100%;
    display: flex;
}

.imgHistoria {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.imgHistoria img {
    width: 80%;
}

.texto-historia {
    width: 50%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    color: white;
}

#titulo-hitoria {
    font-size: xx-large;
}

.texto-historia p {
    font-size: x-large;
}

#descricao {
    color: white;
}

/*Parte de Desenvolvimento do Jogo*/
.desenvolvimento-jogo {
    width: 100%;
    height: 700px;
    background: linear-gradient(to right, #1F2937 0%, #111827 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-desevolvimento {
    width: 90%;
    background-color: #243B5C;
    border: 3px solid #7F96B3;

    display: flex;
}

.texto-desenvolvimento {
    width: 50%;
    padding: 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    color: white;
}

.texto-desenvolvimento p {
    font-size: x-large;
}

.video-desenvolvimento {
    width: 50%;
    padding: 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Parte dos modos de jogo */
.modos-jogo {
    width: 100%;
    height: 800px;
    background-image: url('../assets/fundoModos.png');
    background-size: cover;
    /*deixa a imagem ajustadas, para cobrir toda a div */
    background-position: center;
    /*Alinha a imagem no centro, da div */
    background-repeat: no-repeat;
    /*Não deixa duplicar a imagem da div, caso a imagem seja menor*/

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.opcoes-modos {
    width: 100%;
    height: 75%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modos {
    background-color: #1F2937;
    border: 3px solid white;
    width: 15%;
    height: 350px;
    border-radius: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

#titulo-modos {
    color: white;
    font-size: 60px;
}

.modos img {
    width: 70%;
    border: 2px solid white;
    border-radius: 10px;
}

.texto-modos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
}

.texto-modos p {
    text-align: center;
}

#maps {
    background-color: #243B5C;
    width: 150px;
    height: 50px;

    border: 2px solid #E5E5EA;
    border-radius: 10px;

    color: white;

    font-size: medium;
}


/* Minha história no jogo */
.minha-historia {
    width: 100%;
    height: 800px;
    background-image: url('../assets/historia_sobre.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#titulo-minha-historia{
    color: white;
    font-size: 60px;
}

.conteudo-minha-historia{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto-minha-historia{
    width: 50%;
    color: white;

    text-align: center;

}

.texto-minha-historia p {
    font-size: x-large;
}

.img-minha{
    width: 35%;
    
}

.img-minha img{
    width: 50%;
}

/* Parte da Identidade no Jogo */
.identidade-jogo{
    width: 100%;
    height: 800px;
    background-image: url('../assets/identidade_sobre.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.foto-youtube{
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-youtube img{
    width: 80%;
}

.conteudo-identidade{
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#titulo-identidade{
    font-size: xx-large;
    color: white;
}

.texto-identidade p{
    color: white;
    font-size: x-large;

    text-align: center;
}

/* Parte sobre o projeto e titulos */
.projeto{
    width: 100%;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.projeto-partes{
    width: 90%;
    height: 500px;
    background-color: #7F96B3;
    border: 3px solid white;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.esquerda-projeto, .direita-titulos{
    width: 40%;
    height: 350px;
    background-color: #1F2937;
    border: 2px solid white;
    border-radius: 30px;

    color: white;

}

/* Lado esquerdo */
.conteudo-titulo-sobre-projeto{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteudo-titulo-sobre-projeto img{
    width: 20%;
}

.conteudo-projeto{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#titulo-sobre-projeto{
    font-size: 35px;
}

.texto-projeto p{
    font-size: larger;
    text-align: center;
    padding: 5px;
}

/* Lado direito */
.conteudo-titulos{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.conteudo-sobre-conquistas{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.conteudo-sobre-conquistas img{
    width: 20%;
}

.texto-titulos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-titulos p{
    font-size: larger;
}

/* Footer */
.footer{
    width: 100%;
    height: 200px;
    background-color: #383530;
    color: white;

    display: flex;
    flex-direction: column;
}

.texto-footer, .icones-links-footer{
    width: 100%;
}

.texto-footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#texto-sptech{
    color: #7F96B3;
}

.icones-links-footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.icones-links-footer img{
    width: 80%;
}


